@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-condensed: var(--font-condensed);
  --font-display: var(--font-display);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand / actions */
  --color-accent: #3fafde;
  --color-accent-hover: #2c7aa8;
  --color-accent-dark: #3aa2ce;

  /* Surfaces */
  --color-surface: #f0f5f7; /* cards */
  --color-surface-dark: #1b1d20; /* app bg */

  /* Text */
  --color-ink: #000000;
  --color-ink-inverse: #ffffff;

  /* Elevation */
  --color-shadow-soft: #e2e7e9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-surface: #1b1d20;
    --color-surface-dark: #0a0a0a;
    --color-ink: #ededed;
    --color-ink-inverse: #000000;
  }
} */

html,
body {
  overscroll-behavior-y: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}
